<div [class]="'theme-wrapper ' + theme">
    <div class="wrapper">
        <div class="toolbar" [style.position]="'fixed'">
            <mat-toolbar color="primary">
                <span routerLink="" class="branding spacer center d-inline d-sm-none"> <img [src]="logo"
                        alt="logo" /></span>
                <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo"
                        alt="logo" /> Questionaire Form Builder</span>
                <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo" alt="logo" />
                    Questionaire Form Builder
                </span>

                <a [matTooltip]="'Project Github Repository'" matTooltipPosition="before" mat-icon-button
                    class="link d-none d-sm-inline" href="https://github.com/iresa-org/ngx-questionaire-form"
                    target="_blank">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
            </mat-toolbar>
        </div>

        <div class="content">
            <router-outlet #o="outlet"></router-outlet>
        </div>
    </div>
</div>