@import '~@angular/material/theming';

@mixin app-docs-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .nav-responsive-overlay {
    .active {
      color: mat-color($accent, default-contrast);
      background-color: mat-color($accent);
    }
  }
}
